<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes role:require="Standalone or ContentManagement" hint="list:AddIndex">
          <index id="sitecore_master_index">
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.295867" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatAuthoring</environment>
                </Environments>
                <Database>master</Database>
              </crawler>
            </locations>
          </index>
          <index id="sitecore_web_index">
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.Support.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Support.295867" patch:instead="*[@type='Sitecore.Commerce.Engine.Connect.Search.Crawlers.CatalogsCrawler, Sitecore.Commerce.Engine.Connect']">
                <ItemsToTake>100</ItemsToTake>
                <ListName>Catalogs</ListName>
                <IndexListName>CatalogsIndex</IndexListName>
                <Environments hint="list">
                  <environment>HabitatShops</environment>
                </Environments>
                <Database>web</Database>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>